.errorBox,.successBox
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#F3FFDF;
	border:medium none;
	border-radius:3px;
	box-shadow:0 1px 2px rgba(0,0,0,0.3);
	font-size:.8em;
	margin:auto auto 1em;
	padding-bottom:10px;
}

.errorIcon
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -81px;
	float:left;
	height:16px;
	width:16px;
}

.successIcon
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -97px;
	float:left;
	height:16px;
	width:16px;
}

.msgBoxContent
{
	padding:10px 10px 10px 30px;
}

.msgBoxContent p
{
	font-size:1.6em;
	margin:10px 0;
}

.msgBoxContent p:first-child
{
	font-size:1.9em;
	font-weight:700;
	margin:0;
}

.msgBoxContent p:last-child
{
	margin-bottom:0;
}

.tbImgLink
{
	cursor:pointer;
	padding:2px;
}

.toolbarTable .tb
{
	background:#F0F0F0 url(../images/bck_toolbar.gif) repeat-x top;
	font-weight:400;
	line-height:26px;
}

.toolbarTable .tb a:hover
{
	color:#000;
}

.toolbarTable .tb div.btnseparator
{
	border-left:1px solid #ccc;
	border-right:1px solid #fff;
	float:left;
	height:26px;
	margin-left:5px;
	margin-right:2px;
	width:4px;
}

.toolbarTable .tb div.fbutton
{
	cursor:pointer;
	display:block;
	float:left;
	height:22px;
	line-height:22px;
	padding:1px;
}

.toolbarTable .tb div.fbutton div
{
	padding:0 1px;
}

.toolbarTable .tb div.fbutton img
{
	padding-top:3px;
}

.toolbarTable .tb div.fbutton span
{
	display:block;
	float:left;
	padding:2px;
}

.toolbarTable .tb div.fbutton span.btnText
{
	color:#666;
	padding-top:6px;
}

.toolbarTable .tb div.fbutton:hover
{
	background-color:#F2F2F2;
	height:22px;
}

.toolbarTable .tb div.fbutton:hover div
{
	border-bottom:1px solid #eee;
	border-left:1px solid #fff;
	border-right:1px solid #eee;
	border-top:1px solid #fff;
	padding:0;
}

input:focus
{
	background-color:#ff9;
}

.submit
{
	background-color:#ffebd9;
	width:150px;
}

.sort_asc
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -113px;
	float:right;
	height:11px;
	margin-top:5px;
	width:11px;
}

.sort_des
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -124px;
	float:right;
	height:11px;
	margin-top:5px;
	width:11px;
}

.icon_search
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -135px;
	float:left;
	height:12px;
	margin-left:5px;
	margin-top:0;
	width:15px;
}

.icon_edit
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -32px;
	float:left;
	height:16px;
	margin-left:5px;
	margin-top:2px;
	width:15px;
}

.icon_delete
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -16px;
	float:left;
	height:16px;
	margin-left:5px;
	margin-top:3px;
	width:15px;
}

.icon_deleteall
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -16px;
	float:left;
	height:12px;
	margin-left:5px;
	margin-top:0;
	width:15px;
}

.icon_show
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -48px;
	float:left;
	height:16px;
	margin-left:4px;
	margin-right:-2px;
	margin-top:4px;
	width:16px;
}

.icon_export
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -150px;
	float:left;
	height:14px;
	margin-left:5px;
	margin-top:-2px;
	width:15px;
}

.icon_import
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 -64px;
	float:left;
	height:13px;
	margin-left:5px;
	margin-top:-1px;
	width:15px;
}

.icon_add
{
	background:url(../images/sprites_dbgrid.gif) no-repeat 0 0;
	float:left;
	height:12px;
	margin-left:5px;
	margin-top:0;
	width:15px;
}

fieldset
{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#e4dac0;
	border-radius:10px;
	line-height:1.5;
	margin:0 auto 1.625em;
	padding:1.625em;
	position:relative;
	width:94%;
}

fieldset p
{
	margin:10px 0;
}

fieldset legend
{
	color:#666;
	font-size:18px;
	font-weight:700;
	margin:1px;
	padding:0;
}

fieldset li
{
	clear:both;
	list-style:none;
	margin-bottom:2px;
	margin-top:2px;
	padding:10px;
}

fieldset textarea
{
	height:5em;
	resize:vertical;
	width:95%;
}

fieldset ul,fieldset li
{
	border:0;
	list-style:none;
	margin:0;
	padding:0;
}

fieldset select
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:none repeat scroll 0 0 #FFF;
	border:4px solid #EEE;
	border-radius:5px;
	box-shadow:0 1px 3px rgba(204,204,204,0.95) inset;
	font-size:1.2em;
	padding:10px;
	position:relative;
	width:50%;
}

fieldset input[type=text],fieldset textarea
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:none repeat scroll 0 0 #FFF;
	border:4px solid #EEE;
	border-radius:5px;
	box-shadow:0 1px 3px rgba(204,204,204,0.95) inset;
	font-size:1.2em;
	line-height:1.625;
	padding:10px;
	position:relative;
	text-indent:80px;
}

fieldset label
{
	background:none repeat scroll 0 0 #EEE;
	box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	color:#555;
	display:inline-block;
	font-size:13px;
	left:4px;
	line-height:2.2em;
	min-width:60px;
	padding:0 4px;
	position:relative;
	top:32px;
	z-index:1;
}

fieldset input[type=text]:focus,fieldset textarea:focus
{
	text-indent:0;
	z-index:1;
}

fieldset .required
{
	color:#BD3500;
	font-size:22px;
	font-weight:700;
	left:75%;
	position:absolute;
	top:45px;
	z-index:1;
}

fieldset input.submit
{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:none repeat scroll 0 0 #222;
	border:medium none;
	border-radius:3px;
	box-shadow:0 1px 2px rgba(0,0,0,0.3);
	color:#EEE;
	cursor:pointer;
	font-size:15px;
	margin:20px 0;
	padding:5px 22px;
	position:relative;
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}

fieldset input.submit:active
{
	background:none repeat scroll 0 0 #1982D1;
	color:#BFDDF3;
}

fieldset .inputfile
{
	position:relative;
}

fieldset input[type=file]
{
	-moz-opacity:0;
	filter:alpha(opacity:0);
	font-size:2em;
	height:44px;
	opacity:0;
	position:absolute;
	text-align:right;
	top:10px;
	right:0px;
	z-index:2;
}

fieldset input[type=text]
{
	display:block;
	height:24px;
	width:98%;
}

fieldset .fakefileLabel
{
	float:left;
	margin-top:20px;
	padding: 3px;
	background:none repeat scroll 0 0 #EEE;
	box-shadow:1px 2px 2px rgba(204,204,204,0.8);
	color:#555;
	font-size: 13px;
}

fieldset input.fakefile
{
	width:auto;
}

fieldset div
{
	font-size:1.1em;
}

fieldset .labelselect
{
	margin-bottom:10px;
}

.gray
{
	color:#555;
}
