/*
-----------------------------------------------
Grey Box Method - Layout CSS
----------------------------------------------- */

body {
	background: #eee;
	border-top: 5px solid #000;
	color: #333;
	font-size: 1em;
	padding: 0 0 40px;
}


/* anchors
----------------------------------------------- */
a {
	color: #000;
	font-weight:bold;
	text-decoration: none;
}
a:hover {
	color:#333;
}


/* 960 grid system container background
----------------------------------------------- */
.container_12,
.container_16 {
	background:#fff;
}


/* headings
----------------------------------------------- */
h1, h2, h3, h4, h5, h6 {line-height:1.2em; margin-bottom:.3em;}
h2 {margin-top:1em;}
h5 {font-size:1.2em;}
h6 {font-size:1em; text-transform:uppercase;}


h1 a {
	font-weight:normal;
}


/* branding
----------------------------------------------- */
h1#branding {
	font-weight:normal;
	font-size:3em;
	text-align:left;
	background:#aaa;
	padding:.7em 1em;
	margin-bottom:0;
}


/* page heading
----------------------------------------------- */
h2#page-heading {
	font-weight:normal;
	padding:.5em;
	margin:0 0 10px 0;
	border-bottom:1px solid #ccc;
}


/* boxes
----------------------------------------------- */
.box {
	background:#ddd;
	margin-bottom:20px;
	padding:3px 3px 3px 3px;
    display:inline-block;
}


.box h2 {
	font-size:1em;
	font-weight:normal;
	text-transform:uppercase;
	color:#fff;
	background:#333;
	margin:-3px -3px 0 -3px;
	padding:6px 12px;
    line-height: 1.1em;
}

.box h2 span.visible {
	color:#fff;
	background-image: url("../../images/switch_minus.gif");
    background-repeat: no-repeat;
	display:block;
	border:none;
    width: 11px;
    height: 11px;
    float: right;
    _margin-top:2px;
    margin:1px -6px 1px 0;
}

.box h2 span.hidden {
	background-image: url("../../images/switch_plus.gif");
    background-repeat: no-repeat;
	display:block;
	border:none;
    width: 11px;
    height: 11px;
    float: right;
    _margin-top:2px;
    margin:1px -6px 1px 0;
}

*:first-child+html .box h2 span.visible{
margin-top:-16px;
}

*:first-child+html .box h2 span.hidden{
margin-top:-16px;
}

.grid_4 .box h2 a {
	background-position: 97% 50%;
}
.grid_5 .box h2 a {
	background-position: 98% 50%;
}
.grid_12 .box h2 a {
	background-position: 99% 50%;
}
.grid_14 .box h2 a {
	background-position: 99% 50%;
}
.grid_16 .box h2 a {
	background-position: 99% 50%;
}

.box h2 span {
    margin: 4px;
    _float:left;
}

.block {
	padding-top:10px;
}
div.menu {
	padding:0;
}
div.menu h2 {
	margin:0;
}
div.menu .block {
	padding-top:0;
}


